

{{>head}}    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Gato loco</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, magnam voluptas dicta blanditiis cupiditate explicabo veritatis fuga facilis nihil ipsam vero officia praesentium quod ipsum eligendi in quidem perferendis iusto?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/image/images.jpeg" class="img-thumbnail">
    </div>
</div>

{{>footer}}

